$green: #8FAC19;
$brown: #5D4F4B;
$grayLight: #D8D9DA;
$grayMedium: #B0B2B3;
$grayStrong: #838084;
$grayTrans: #E4E4E5;

p,li,span,label{
	color: $grayStrong;
}
.search-clients, .detail-develop, .payment-list{
	position: relative;
	z-index: 9999;
}
.no-gutters{
  margin-right: 0;
  margin-left: -15px;
}
.container-fluid{
	padding-right: 0px;
}

.btn{
	padding: 0px 15px;
}

.menu{
	background-color: $grayMedium;
	height: 100vh;
	.wrapper-menu-left{
		height: 100vh;
	}
	.logo-menu{
	    background-image: url(../img/logo-menu-v1.png);
	    width: 100%;
	    height: 40px;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: contain;
	}
	.left-nav-wrapper{
		.list-group-item{
			background-color: $grayMedium;
			border-color: $grayMedium;
			color: #fff;
			background-repeat: no-repeat;
			background-position: 40px center;
			padding: 3px 0px 3px 65px;
			&:first-child, &:last-child{
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;
				border-bottom-left-radius: 0px;
				border-bottom-right-radius: 0px;
			}
			&.active{
				background-color: rgba(255,255,255, .2);
			}
			&.icon-login{
				background-image: url('../img/icon-login.png');
			}
			&.icon-search{
				background-image: url('../img/icon-search.png');
			}
			&.icon-quoting{
				background-image: url('../img/icon-quoting.png');
			}
			&.icon-settings{
				background-image: url('../img/icon-settings.png');
			}
		}
	}
	.privacy-policy{
		font-size: 8px;
		color: #fff;
		text-align: center;
	}	
}

.work-area{
	background-color: $grayLight;
	background-image: url("../img/icon-tree-v1.png");
	background-repeat: no-repeat;
	background-position: 114% 128%;
	background-size: auto;
	.align-items-center{
		margin: auto;
	}
	.box-area{
		background-color: #fff;
		border-radius: 20px;
		width: 520px;
		height: 310px;
		padding: 20px;
		&.big-box{
			width: 880px!important;
			height: 470px!important;
			&::before{
				width: 880px!important;
				height: 470px!important;
			}
		}
		&::before{ 
			content: "";
		    background-color: rgba(255,255,255,.2);
			border-radius: 20px;
			width: 520px;
			height: 310px;
			transform: rotate(-10deg);
			position: absolute;
			margin-left: -20px;
			margin-top: -20px;
		}
	}
	.logo-login{
		background-image: url(../img/logo-principal-v1.png);
		width: 100%;
	    height: 70px;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: contain;
	    z-index: 999;
		margin-bottom: 40px;
	}
	.btn-input{
		border-radius: 20px;
		z-index: 9999;
		border: 1px solid $grayStrong;
		&.user{
			width: 40%;
			background-image: url(../img/icon-user.png);
			background-repeat: no-repeat;
			background-position: 8px center;
			padding-left: 30px;
			margin-bottom: 10px;
		}
		&.password{
			width: 40%;
			background-image: url(../img/icon-password.png);
			background-repeat: no-repeat;
			background-position: 8px center;
			padding-left: 30px;
		}
		&.search{
			width: 60%;
			background-image: url(../img/icon-search-gray.png);
			background-repeat: no-repeat;
			background-position: 8px center;
			padding-left: 30px;
		}
	}
	button{
		z-index: 999;
	}
	.settings{
		display: none;
		.form-settings{
			.form-group{
			margin-bottom: 5px;
			}
		}
	}
	.title-settings{
		color: $grayMedium;
		.icon{
			width: 20px;
			height: 20px;
			display: inline-block;
			&.users{
				background: url("../img/users.png") no-repeat;
			}
			&.edit-user{
				background: url("../img/icon-user.png") no-repeat;
			}
		}
	}
	.separator{
		border: 1px solid $grayStrong;
	}
	.principal-user{
		p{
			margin-bottom: 0px;
		}
		p:hover{
			color: $green;
		}
		.edit{
			color: $green;
		}
	}
	.secondary-users{
		padding-inline-start: 0px;
		li{
			list-style:none;
			cursor: pointer;
			.edit{
				color: $green;
			}
			&:hover{
				color: $green;
			}
		}
	}
	.add-plus{
		padding-left: 5px;
		padding-top: 5px;
		cursor: pointer;
		&.list-desarrollos{
			padding-left: 0px;
		}
	}
	.photo{
		padding-left: 10px;
		cursor: pointer;
		.change-photo{
			color: $green;
			font-size: 10px;
		}
	}
	.btn-success{
		background-color: $green;
		border-radius: 20px;
		border-color: $green;
		cursor: pointer;
		z-index: 9999;
		position: relative;
		:hover{
			background-color: $green;
		    border-color: $green;
		}
	}
	.form-group{
		input{
			height: 30px;
			font-size: 13px;
		}
	}
	.header{
		.icon-logo-search{
		    background-image: url(../img/logo-principal-v1.png);
		    height: 30px;
		    background-size: contain;
		    background-repeat: no-repeat;
		    background-position: right;
			&.detail{
				background-position: center;
			}
		}
		.icon{
			height: 15px;
			width: 15px;
			display: inline-block;
			float: right;
			cursor: pointer;
			&.ico-message{
				background: url(../img/icon-message.png) no-repeat;
				margin-top: 2px
			}
			&.ico-print{
				background: url(../img/icon-print.png) no-repeat;
				margin-left: 8px;
			}
			&.ico-close{
				background: url(../img/icon-close.png) no-repeat;
				margin-left: 8px;
			}
			&.ico-list{
				background: url(../img/icon-list.png) no-repeat;
				margin-left: 0px;
				height: 20px;
				width: 20px;
				margin-left: 15px;
				float: left;
				&.active{
					background: url(../img/icon-list-green.png) no-repeat;
				}
			}
			&.ico-general{
				background: url(../img/icon-general.png) no-repeat;
				margin-left: 0px;
				height: 20px;
				width: 20px;
				float: left;
				&.active{
					background: url(../img/icon-general-green.png) no-repeat;
				}
			}
		}
	}
	.title-quoting{
		margin-top: 15px;
		.title{
			font-size: 1.75rem;
			text-align: center;
			color: $grayMedium;
		}
		.today{
			font-size: 17px;
			padding-top: 10px;
			color: $grayStrong;
		}
	}
	form.personalizados{
		.form-group{
			margin-bottom: 5px;
		}
		.input-group{
			height: 30px;
			&.letters{
				width: 26%;
				margin-right: 30px;
			}
		}
		.input-group-prepend{
			width: 50%;
			&.exception{
				width: 30%;
			}
		}
		input.form-control{
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			width: 50%;
			&.num-exception{
				width: 40%;
			}
			&.exception{
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px;
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
				width: 10%;
			}
		}
		.input-group-text{
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
			width: 100%;
			color: $grayStrong;
		}
		.form-control[readonly]{
			background-color: #fff;
		}
		#total-pagado, #letters-payments{
			color: $green;
		}
		.total-letras{
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			font-size: 22px;
			font-weight: bold;
		}
		#letters-payments{
			font-size: 22px;
			font-weight: bold;
		}
	}
	.list-view{
		position: relative;
		z-index: 9999;
		#list-desarrollos{
			list-style: none;
			padding-inline-start: 0px;
    		overflow-y: scroll;
    		max-height: 167px;
		}
		.name-terreno{
			color: $grayMedium;
			&:hover{
				color: $green;
			}
		}
		.edit{
			width: auto;
		    background-color: #8FAC19;
		    border-radius: 20px;
		    display: block;
		    color: #fff;
		    padding: 0px 10px;
		    margin-right: 10px;
		    cursor: pointer;
		}
		.filter{
			margin-top: -10px;
			border: 3px solid $grayLight;
			width: 20px;
			display: inline-block;
			border-radius: 20px;
			cursor: pointer;
			&.title{
				width: 50px;
				margin-left: 7px;
			}
		}
	}
	.search-clients{
		#list-lotes{
			list-style: none;
			padding-inline-start: 0px;
			cursor: pointer;
			li:hover{
				color: $green;
			}
		}
	}
	.number-principal{
		background-color: $grayMedium;
		width: 18px;
	    height: 18px;
	    border-radius: 50%;
	    color: #fff;
	    font-weight: bold;
	    text-align: center;
	    display: inline-block;
	    margin-right: 15px;
	    padding-top: 1px;
	    font-size: 11px;
	    &.number-desarrollo{
	    	width: 40px;
	    	height: 40px;
	    	font-size: 24px;
	    }
	}
	.name-desarrollo{
		font-size: 24px;
		color: $grayMedium;
	}
	.icon-add-plus{
		background-image: url("../img/add-plus.png");
		background-repeat: no-repeat;
		background-size: contain;
		height: 25px;
		width: 25px;
		background-size: contain;
    	margin-left: 10px;
    	cursor: pointer;
    	&.list-desarrollos{
    		width: 18px;
    		height: 18px;
    		margin-left: 0px;
    	}
	}
	.note{
		font-size: 10px;
		color: $grayMedium;
		margin-bottom: 5px;
		text-align: center;
	}
	.info-personal{
		span{
			margin-right: 10px;
		}
		.icon{
			margin-right: 3px;
		}
	}
	.list-letters{
		font-size: 11px;
		font-weight: normal;
		color: $grayStrong;
		text-align: center;
		border-collapse: collapse;
		width: auto;
		height: auto;
		td{
			padding: 0px 12px;
			&:nth-child(3){
				padding: 0px 25px;
			}
		}
	}
	.buttons-letters{
		display: flex;
		.icon-add-plus{
			margin-left: 0px;
			margin-right: 10px;
		}
	}
	.user-data{
		position: absolute;
		top: 30px;
		right: 60px;
		width: 40vh;
		.img-user{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 2px solid #fff;
			background-image: url(../img/user.png);
			background-repeat: no-repeat;
			background-size: cover;
			margin-right: 10px;
		}
		.user-name{
			font-size: 16px;
			color: $grayMedium;
		}
	}
}



/* 
Radios costumizados */

/* Customize the label (the container) */
.form-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 10px;
}

/* Hide the browser's default radio button */
.form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
}

/* When the radio button is checked, add a blue background */
.form-check input:checked ~ .checkmark {
  background-color: #fff;
  border: 1px solid #ccc;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.form-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.form-check .checkmark:after {
  top: 3px;
  left: 3px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: $green;
}

