$green: #8FAC19;
$brown: #5D4F4B;
$grayLight: #D8D9DA;
$grayMedium: #B0B2B3;
$grayStrong: #838084;
$grayTrans: #E4E4E5;

p,li,span{
	color: $grayStrong;
}
.no-gutters{
  margin-right: 0;
  margin-left: -15px;
}
.container-fluid{
	padding-right: 0px;
}

.btn{
	height: auto;
}

.menu{
	background-color: $grayMedium;
	height: 100vh;
	.wrapper-menu-left{
		height: 100vh;
	}
	.logo-menu{
	    background-image: url(../img/logo-menu.png);
	    width: 100%;
	    height: 40px;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: contain;
	}
	.left-nav-wrapper{
		.list-group-item{
			background-color: $grayMedium;
			border-color: $grayMedium;
			color: #fff;
			background-repeat: no-repeat;
			background-position: 40px center;
			padding: 3px 0px 3px 65px;
			&:first-child, &:last-child{
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;
				border-bottom-left-radius: 0px;
				border-bottom-right-radius: 0px;
			}
			&.active{
				background-color: rgba(255,255,255, .2);
			}
			&.icon-login{
				background-image: url('../img/icon-login.png');
			}
			&.icon-search{
				background-image: url('../img/icon-search.png');
			}
			&.icon-quoting{
				background-image: url('../img/icon-quoting.png');
			}
			&.icon-settings{
				background-image: url('../img/icon-settings.png');
			}
		}
	}
	.privacy-policy{
		font-size: 8px;
		color: #fff;
		text-align: center;
	}	
}

.work-area{
	background-color: $grayLight;
	background-image: url("../img/icon-tree.png");
	background-repeat: no-repeat;
	background-position: 116% 137%;
	background-size: auto;
	.align-items-center{
		margin: auto;
	}
	.box-background{
		background-color: rgba(255,255,255,.2);
		border-radius: 20px;
		width: 520px;
		height: 310px;
		transform: rotate(-10deg);
		position: absolute;
	}
	.box-area{
		background-color: #fff;
		border-radius: 20px;
		width: 520px;
		height: 310px;
	}
	.logo-login{
		background-image: url(../img/logo-principal.png);
		width: 100%;
	    height: 70px;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: contain;
	    z-index: 999;
		margin-bottom: 40px;
	}
	.btn-input{
		border-radius: 20px;
		z-index: 9999;
		border: 1px solid $grayStrong;
		&.user{
			width: 40%;
			background-image: url(../img/icon-user.png);
			background-repeat: no-repeat;
			background-position: 8px center;
			padding-left: 30px;
			margin-bottom: 10px;
		}
		&.password{
			width: 40%;
			background-image: url(../img/icon-password.png);
			background-repeat: no-repeat;
			background-position: 8px center;
			padding-left: 30px;
		}
	}
	button{
		z-index: 999;
	}
	.title-settings{
		color: $grayMedium;
		padding-top: 10px;
		.icon{
			width: 20px;
			height: 20px;
			display: inline-block;
			&.users{
				background: url("../img/users.png") no-repeat;
			}
			&.edit-user{
				background: url("../img/icon-user.png") no-repeat;
			}
		}
	}
	.separator{
		border: 1px solid $grayStrong;
	}
	.secondary-users{
		padding-inline-start: 0px;
		li{
			list-style:none;
			.edit{
				color: $green;
			}
			&:hover{
				color: $green;
			}
		}
	}
	.add-plus{
		padding-left: 5px;
		padding-top: 5px;
	}
	.photo{
		padding-left: 10px;
		.change-photo{
			color: $green;
			font-size: 10px;
		}
	}
	.btn-success{
		background-color: $green;
		border-radius: 20px;
		border-color: $green;
		:hover{
			background-color: $green;
		    border-color: $green;
		}
	}
}


/* Create a custom radio button */
.form-check-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.form-check input:checked ~ .form-check-input {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.form-check-input:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.form-check input:checked ~ .form-check-input:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.form-check .form-check-input:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}