<div class="box-area">
  <div class="list-view">
<h3 class="title-settings">Desarrollos</h3>
   <div class="separator"></div>
   <div class="row">
      <ul id="list-desarrollos">
        </ul>
        <div class="col-2">
          <img src="img/add-plus.png" class="add-plus">
        </div>
      </div>
  </div>
  <div class="search-clients d-none">
      <span>2</span>
      <span>La joya</span>
      <div class="separator"></div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="separator"></div>
      <div class="row">
        <ul id="list-lotes">
        </ul>
      </div>
  </div>
  <div class="view-info d-none">
    Añadir vista
  </div>
</div>