<!-- Modal Agregar Pagos a Lotes -->
<div class="modal fade" id="pagosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="title-settings">Agregar pago</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="personalizados mt-3">
          <div class="form-row ">
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend date">
                  <div class="input-group-text">Fecha</div>
                </div>
                <select class="form-control date" id="meses">
                </select>
                <select class="form-control" id="años">
                </select>
              </div>
            </div>
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Monto</div>
                </div>
                <input type="text" class="form-control" id="monto" placeholder="Monto" onkeypress="restrictToNumber(event)">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="btn btn-danger" onclick="cleanInputs('.modal-body')" data-dismiss="modal">Cancelar</div>
        <div class="btn btn-success" onclick="addPago()">Agregar pago</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Enviar email -->
<div class="modal fade" id="emailModalSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="title-settings">Enviar Correo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="personalizados">
          <div class="form-row ">
            <div class="form-group col-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Nombre</div>
                </div>
                <input type="text" class="form-control" id="name" placeholder="Nombre">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">E-mail</div>
                </div>
                <input type="text" class="form-control" id="email2" placeholder="E-mail">
              </div>
            </div>
          </div>
          <div class="form-row ">
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Asunto</div>
                </div>
                <input type="text" class="form-control" id="subject" placeholder="Asunto">
              </div>
            </div>
          </div>
           <div class="form-row col-12">
            <div>
              <img src="" id="fileAdjunto" width="100%" heigth="100%">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <div class="input-group">
                <span class="text-modal">Mensaje</span>
                <textarea name="" id="" cols="100" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer quoting">
        <div class="btn btn-danger" data-dismiss="modal">Cancelar</div>
        <div class="btn btn-success">Enviar correo</div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Eliminar Lote -->
<div class="modal fade" id="deleteLoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="title-settings">Eliminar Lote</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Deseas eliminar este lote?</p>
        <p class="d-none">Se eliminó con éxito el lote.</p>
      </div>
      <div class="modal-footer">
        <div class="btn btn-danger" data-dismiss="modal">No</div>
        <div class="btn btn-success" id="yes-delete">Si</div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete-payment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="title-settings">Eliminar Pago</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Deseas eliminar este pago?</p>
        <p class="d-none">Se eliminó con éxito el pago.</p>
      </div>
      <div class="modal-footer">
        <div class="btn btn-danger" data-dismiss="modal">No</div>
        <div class="btn btn-success" onclick="deletePayment(this)" id="btn-delete-payment">Si</div>
      </div>
    </div>
  </div>
</div>

<div class="box-area " id="impresion">
  <img src="img/logo-principal-v1.png" class="print logo-print">
  <p class="nombre-print print">Ejecutivo<br/><span class="nombre-ejecutivo"></span><span class="today d-none print float-right">16 Septiembre 2018</span></p>
  <div class="list-view">
    <div class="header mb-3">
      <div class="icon-logo-search">
        <h3 class="title-settings">Desarrollos</h3>
      </div>
    </div>
    <div class="separator"></div>
    <div class="alert alert-success d-none" id="alert-desarrollo" role="alert">
      Se ha añadido un nuevo desarrollo.
    </div>
    <div class="filter" onclick="ascendingOrderNumberPres(this)"></div>
    <div class="filter title" onclick="ascendingOrderNumberPres(this)"></div>
    <div class="work-list">
      <ul id="list-desarrollos">
      </ul>
      <div class="icon-add-plus list-desarrollos" onclick="changeViewsAll('nuevo_desarrollo.html')"></div>
      <!--img src="img/add-plus.png" class="add-plus list-desarrollos"-->
    </div>
  </div>
  <div class="search-clients d-none">
    <div class="type-modal">
      <div class="header mb-3">
        <div class="icon-logo-search desarrollo">
          <span class="number-principal number-desarrollo">1</span>
          <span class="name-desarrollo">Nombre Desarrollo</span>
          <span class="icon ico-close search float-right" onclick="toggleView('.search-clients', '.list-view'); removeBackdrop(); removeBigBox();"></span>
        </div>
      </div>
      <div class="separator"></div>
      <div class="new-client d-none">
        <span class="font-weight-bold">Agregar nuevo cliente</span>
        <form class="personalizados mt-2" id="add-new">
          <div class="form-row ">
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Nombre</div>
                </div>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre">
              </div>
            </div>
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Correo</div>
                </div>
                <input type="text" class="form-control" id="email" placeholder="Correo">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Telefono</div>
                </div>
                <input type="text" class="form-control" id="telefono" placeholder="Telefono" onkeypress="restrictToNumber(event)" maxlength="8">
              </div>
            </div>
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Celular</div>
                </div>
                <input type="text" class="form-control" id="celular" placeholder="Celular" onkeypress="restrictToNumber(event)" maxlength="10">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Lote</div>
                </div>
                <input type="text" class="form-control" id="lote" placeholder="Lote" onkeypress="restrictToNumber(event)" maxlength="3">
              </div>
            </div>
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Manzana</div>
                </div>
                <input type="text" class="form-control" id="manzana" placeholder="Manzana" onkeypress="restrictToNumber(event)" maxlength="3">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Calle</div>
                </div>
                <input type="text" class="form-control" id="calle" placeholder="Calle">
              </div>
            </div>
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Colonia</div>
                </div>
                <input type="text" class="form-control" id="colonia" placeholder="Colonia">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Delegación</div>
                </div>
                <input type="text" class="form-control" id="delegacion" placeholder="Delegación">
              </div>
            </div>
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Metros</div>
                </div>
                <input type="text" class="form-control" id="metros-new" placeholder="Metros" onkeypress="restrictToNumber(event)">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Costo</div>
                </div>
                <input type="text" class="form-control" id="costo" placeholder="Costo" onkeypress="restrictToNumber(event)" onblur="changeToCurrency(this)">
              </div>
            </div>
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Fecha</div>
                </div>
                <input type="text" class="form-control" id="fecha" placeholder="Fecha" readonly >
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Enganche</div>
                </div>
                <input type="text" class="form-control" id="enganche" placeholder="Enganche" onkeypress="restrictToNumber(event)" onblur="changeToCurrency(this)">
              </div>
            </div>
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Letras</div>
                </div>
                <input type="text" class="form-control" id="pagos" placeholder="Letras" onkeypress="restrictToNumber(event)" maxlength="5">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6 offset-6">
              <div class="wrapper mt-2 float-right">
                <div class="btn btn-danger" onclick="cleanInputs('.new-client'); toggleView('.new-client', '.view-client'); removeNewClient()">Cancelar</div>
                <div class="btn btn-success" onclick=" addClientes()">Agregar</div>
              </div>
            </div>
          </div>
          <!-- <div class="wrapper mt-2">
            <div class="btn btn-danger" onclick="cleanInputs('.new-client'); toggleView('.new-client', '.view-client')">Cancelar</div>
            <div class="btn btn-success" onclick=" addClientes()">Agregar</div>
          </div> -->
        </form>
      </div>
      <div class="no-lotes d-none">
        <p class="text-center"><b>No existen lotes disponibles en este desarrollo</b></p>
        <div class="btn btn-success" onclick="toggleView('.no-lotes', '.view-client')">Aceptar</div>
      </div>
      <div class="view-client">
        <div class="d-flex justify-content-center input-group mt-3 pl-4">
          <input type="text" class="btn-input search" id="search" placeholder="Buscar" onkeyup="searchClients()">
          <div class="icon-add-plus plus-client" onclick="appendClientes()"></div>
        </div>
        <p class="note mt-3">Escribe el nombre del cliente o su número de cuenta</p>
        <div class="separator"></div>
        <p class="error-lotes d-none text-center w-100"><b>No existen lotes en este desarrollo</b></p>
        <p class="d-none no-properties text-center w-100"><b>No existen propietarios en este desarrollo</b></p>
        <p class="d-none no-properties2 text-center w-100"><b>No existen clientes con un lote liquidados</b></p>
        <div class="mt-2 d-flex justify-content-center">
          <ul id="list-lotes">
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-develop d-none">
    <div class="header mb-3 no-print">
      <span class="icon ico-general active" onclick="viewList()"></span>
      <span class="icon ico-list" onclick="viewList()"></span>
      <span class="icon ico-close" onclick="toggleView('.detail-develop', '.list-view'); removeBigBox()"></span>
      <span class="icon ico-print" onclick="printSheet('#impresion')"></span>
      <span class="icon ico-message" data-toggle="modal" data-target="#emailModalSearch"></span>
      <div class="icon-logo-search detail"></div>
    </div>
    <div class="separator"></div>
    <div class="info-lote">
      <div class="mt-2 mb-2">
        <span class="number-principal number-desarrollo">1</span>
        <span class="name-desarrollo">Nombre Desarrollo</span>
        <form class="personalizados float-right">
          <div class="form-row">
            <div class="form-group">
              <div class="input-group letters float-right">
                <input type="text" class="form-control exception" id="letters-payments" readonly>
                <div class="input-group-prepend letters">
                  <div class="input-group-text total-letras"></div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <span class="lote-selected font-weight-bold">Lote y Propietario</span>
      <div class="info-personal float-right">
        <span class="phone"><img src="img/icon-phone.png" class="icon"></span>
        <span class="cellphone"><img src="img/icon-cellphone.png" class="icon"></span>
        <span class="email"><img src="img/icon-email.png" class="icon"></span>
      </div>
    </div>
    <p class="lote-manzana mb-0 mt-2">Lote</p>
    <p class="direccion">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <div class="row info-detail-lote mt-3">
      <div class="col-7">
        <form class="personalizados">
          <div class="form-row">
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Enganche</div>
                </div>
                <input type="text" class="form-control" id="enganche-lote" placeholder="Username" readonly>
              </div>
            </div>
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Costo</div>
                </div>
                <input type="text" class="form-control" id="costo-mt" placeholder="Username" readonly>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Metros</div>
                </div>
                <input type="text" class="form-control" id="mts-lote" placeholder="Username" readonly>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Letras</div>
                </div>
                <input type="text" class="form-control" id="pagos-lote" placeholder="Username" readonly>
              </div>
            </div>
          </div>
          <!--div class="form-row">
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Regulación</div>
                </div>
                <input type="text" class="form-control" id="reg-lote" placeholder="Username">
              </div>
            </div>
          </div-->
          <div class="form-row">
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Fecha</div>
                </div>
                <input type="text" class="form-control" id="fecha-compra" placeholder="Username" readonly>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Adeudo</div>
                </div>
                <input type="text" class="form-control" id="adeudo-lote" placeholder="Username" readonly>
              </div>
            </div>
          </div>
          <!--div class="btn btn-success">Guardar</div-->
        </form>
      </div>
      <div class="col-5">
        <canvas id="myChart"></canvas>
        <div class="label-porcent"></div>
      </div>
    </div>
    <div class="row payment-list d-none">
      <div class="col-8">
        <div class="row">
          <div class="col-12">
            <div class="payments-wrapper d-flex justify-content-between d-none">
              <table class="list-letters table-bordered letters-block" id="table-principal">
                <thead>
                  <tr>
                    <th>Letra</th>
                    <th>Mes</th>
                    <th>Monto</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody class="payments-body"></tbody>
              </table>
            </div>
            
            <div class="buttons-letters mt-2">
              <div class="icon-add-plus button-new-pago no-print" id="add-one" data-toggle="modal" data-target="#pagosModal"></div>
            </div>
          </div>
          <!-- <div class="col-5 ml-5">
            <table class="list-letters second-table d-none table-bordered">
              <thead>
                <tr>
                  <th>Letra</th>
                  <th>Mes</th>
                  <th>Monto</th>
                </tr>
              </thead>
              <tbody id="pagos-lotes2"></tbody>
            </table>
            <div class="buttons-letters mt-2">
              <div class="icon-add-plus button-new-pago no-print" id="add-two" data-toggle="modal" data-target="#pagosModal"></div> <!-- data-toggle="modal" 5data-target="#pagosModal">
              <div class="btn btn-success" onclick="exportToExcel()">Exportar</div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-4">
        <form class="personalizados col-11">
          <div class="form-row">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Pagado</div>
                </div>
                <input type="text" class="form-control font-weight-bold" id="total-pagado" readonly>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Adeudo</div>
                </div>
                <input type="text" class="form-control font-weight-bold" id="total-adeudo" readonly>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<table id="table-export" class="list-letters table-bordered d-none">
  <thead>
    <tr>
      <th>Letra</th>
      <th>Mes</th>
      <th>Monto</th>
    </tr>
  </thead>
<tbody id="pagos-lotes-export"></tbody>
</table>
<div class="modal-backdrop fade in d-none"></div>
<script>
  $( document ).ready(function() {
      getActualDate();
      getListDesarrollos()
      getFormatDate()
      var nombreGlobal = $(".name-login").text()
      $(".nombre-ejecutivo").text(nombreGlobal)
  });

  function removeBigBox(){
    $(".box-area").removeClass("big-box")
  }

  function removeNewClient(){
    $(".box-area").removeClass("big-box-clients")
    $(".ico-close.search").removeClass("d-none")
  }

  function removeBackdrop(){
    $(".modal-backdrop").addClass("d-none")
  }

  $('.ico-message').click(function() {   
     $(".ico-close, .ico-print, .ico-message, .ico-list, .ico-general").addClass('d-none')    
    html2canvas($(".box-area"), {
        onrendered: function(canvas) {         
            var imgData = canvas.toDataURL(
                'image/png');              
            console.log(imgData)
            var doc = new jsPDF('p', 'mm');
            var exampleDoc =  doc.addImage(imgData, 'PNG', 10, 10);
           $("#fileAdjunto").attr('src',imgData)
        }
    });
    $(".ico-close, .ico-print, .ico-message, .ico-list, .ico-general").removeClass('d-none') 
  });
</script>