<div class="box-area">
  <div class="list-view d-none">
    <div class="header mb-3">
      <div class="icon-logo-search">
        <h3 class="title-settings">Desarrollos</h3>
      </div>
    </div>
    <div class="separator"></div>
    <div class="filter"></div>
    <div class="filter title"></div>
    <div class="work-list">
      <ul id="list-desarrollos" class="mt-1">
      </ul>
      <img src="img/add-plus.png" class="add-plus list-desarrollos">
    </div>
  </div>
  <div class="search-clients">
    <div class="header mb-3">
      <div class="icon-logo-search">
        <span class="number-principal number-desarrollo">1</span>
        <span class="name-desarrollo">Nombre Desarrollo</span>
      </div>
    </div>
    <div class="separator"></div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="separator"></div>
    <div class="row">
      <ul id="list-lotes">
      </ul>
    </div>
  </div>
  <div class="detail-develop d-none">
    <div class="header">
      <span>hola</span>
      <span></span>
      <div class="icon-logo-color detail"></div>
      <span></span>
      <span></span>
      <span>Adios</span>
    </div>
    <div class="info-lote">
      <p>
        <span class="number-desarrollo">0</span>
        <span class="name-desarrollo">Nombre</span>
      </p>
      <span class="lote-selected">Lote y Propietario</span>
      <span class="phone">Telefono</span>
      <span class="cellphone">Celular</span>
      <span class="email">correo</span>
      <div class="input-group d-none">
        <div class="input-group-prepend">
          <div class="input-group-text">Ejemplo</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
      </div>
    </div>
    <p class="lote-manzana">Lote</p>
    <p class="direccion">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <div class="row info-detail-lote">
      <div class="col-7">
        <form>
          <div class="form-row">
            <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Enganche</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
              </div>
            </div>
            <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Costo</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
              </div>
            </div>
          </div>
     <div class="form-row">
           <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Metros</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
              </div>
            </div>
          </div>
          <div class="form-row">
           <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Letras</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Regulación</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Fecha de C.</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
              </div>
            </div>
          </div>
          <div class="form-row">
           <div class="form-group col-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Adeudo</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
              </div>
            </div>
          </div>
          <div class="btn btn-success">Guardar</div>
        </form>
      </div>
      <div class="col-5">
        Grafica
      </div>
    </div>
    <div class="row payment-list d-none">
      <div class="col-8">
        <table>
          <thead>
            <tr>
              <th>Letra</th>
              <th>Mes</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tbody id="pagos-lotes"></tbody>
        </table>
      </div>
      <div class="col-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Pagado</div>
          </div>
          <input type="text" class="form-control" id="total-pagado" readonly>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">Adeudo</div>
          </div>
          <input type="text" class="form-control" id="total-adeudo" readonly>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $( document ).ready(function() {
     getListDesarrollos()
  });
</script>