<div class="box-background"></div>
<div class="box-area">
  <div class="container quoting">
    <div class="header">
      <div class="icon-logo-search detail"></div>
      <span></span>
      <span></span>
      <span>Adios</span>
    </div>
    <div class="row">
      <form>
        <div class="form-row">
          <div class="form-group col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Ejemplo</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
            </div>
          </div>
          <div class="form-group col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Ejemplo</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
            </div>
          </div>
          <div class="form-group col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Ejemplo</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <div class="input-group">
              <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
              <div class="input-group-prepend">
                <div class="input-group-text">Ejemplo</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
            </div>
          </div>
          <div class="form-group col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Ejemplo</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
            </div>
          </div>
          <div class="form-group col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Ejemplo</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>