<!-- Modal Enviar email -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="title-settings">Enviar Correo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="personalizados">
          <div class="form-row ">
            <div class="form-group col-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Nombre</div>
                </div>
                <input type="text" class="form-control" id="name" placeholder="Nombre">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">E-mail</div>
                </div>
                <input type="text" class="form-control" id="email" placeholder="E-mail">
              </div>
            </div>
          </div>
          <div class="form-row ">
            <div class="form-group col-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">Asunto</div>
                </div>
                <input type="text" class="form-control" id="subject" placeholder="Cotización" value="Cotización" readonly>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <div class="input-group">
                <span class="text-modal">Mensaje</span>
                <textarea name="" id="" cols="100" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer quoting">
        <div class="btn btn-danger" data-dismiss="modal">Cancelar</div>
        <div class="btn btn-success">Enviar correo</div>
      </div>
    </div>
  </div>
</div>

<div class="box-area">
  <div class="quoting">
    <div class="header">
      <span class="icon ico-close" id="quoting" onclick="closeQuoting()"></span>
      <span class="icon ico-print"></span>
      <span class="icon ico-message" data-toggle="modal" data-target="#emailModal"></span>
      <div class="icon-logo-search detail"></div>
    </div>
    <div class="title-quoting">
      <div class="separator"></div>
      <span class="title"><b>Cotizador </b></span> <span class="today float-right">16 Septiembre 2018</span>
      <div class="separator"></div>
    </div>
    <form class="personalizados mt-4">
      <div class="form-row ">
        <div class="form-group col-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">Metros</div>
            </div>
            <input type="text" class="form-control" id="metros" placeholder="Metros">
          </div>
        </div>
        <div class="form-group col-6">
          <div class="input-group exception">
            <input type="text" class="form-control exception" id="numero-pagos">
            <div class="input-group-prepend exception">
              <div class="input-group-text">Pagos</div>
            </div>
            <input type="text" class="form-control num-exception" id="mensual-pagos" readonly>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">Costo m2</div>
            </div>
            <input type="text" class="form-control" id="costo-metro" onblur="changeToCurrency(this)" placeholder="Costo m2">
          </div>
        </div>
        <div class="form-group col-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">Enganche</div>
            </div>
            <input type="text" class="form-control" id="enganche" onblur="changeToCurrency(this)" placeholder="Enganche">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">Total</div>
            </div>
            <input type="text" class="form-control" id="total-metros" readonly>
          </div>
        </div>
        <div class="form-group col-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">Total</div>
            </div>
            <input type="text" class="form-control" id="total-adeudo" readonly>
          </div>
        </div>
      </div>
      <div class="btn btn-success mt-3" onclick="cotizar()">Cotizar</div>
    </form>
  </div>
</div>
<script>
  function closeQuoting(){
    $( "#list-settings-list" ).trigger( "click" );
  }
</script>