<div class="box-area ">
  <div class="search-clients">
    <div class="type-modal">
      <div class="header mb-3">
        <div class="icon-logo-search">
          <span class="number-principal number-desarrollo">1</span>
          <span class="name-desarrollo">Nombre Desarrollo</span>
        </div>
      </div>
      <div class="separator"></div>
      <div class="new-client">
        <h3>Agregar nuevo cliente</h3>
        <div class="form-row ">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Nombre completo</div>
              </div>
              <input type="text" class="form-control" id="nombre" placeholder="Nombre">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Telefono</div>
              </div>
              <input type="text" class="form-control" id="telefono" placeholder="Telefono" onkeypress="restrictToNumber(event)" maxlength="8">
            </div>
          </div>
          <div class="form-group col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Celular</div>
              </div>
              <input type="text" class="form-control" id="celular" placeholder="Celular" onkeypress="restrictToNumber(event)" maxlength="10">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Correo</div>
              </div>
              <input type="text" class="form-control" id="email" placeholder="Correo" onkeypress="restrictToNumber(event)" maxlength="8">
            </div>
          </div>
          <div class="form-group col-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">Lote a adquirir</div>
              </div>
              <select class="form-control" id="lotes-by">
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>